package com.zhou.model.vo.req;
#foreach($pkg in ${table.importPackages})
#end
#if(${swagger2})
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
#end
#if(${entityLombokModel})
#end
import lombok.Data;
import java.io.Serializable;
import java.util.Date;
import java.time.LocalDateTime;
import com.base.model.BaseReq;
import io.swagger.annotations.ApiModel;

/**
 * <p>
 * Update${entity}Req 请求对象
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Data
@ApiModel(value = "${entity}更新请求对象", description = "$!{table.comment}")
public class Update${entity}Req extends BaseReq implements Serializable {

    private static final long serialVersionUID = 1L;
    #foreach($field in ${table.fields})
        #if(${field.keyFlag})
            @ApiModelProperty(value = "${field.comment}", required = true)
            private ${field.propertyType} ${field.propertyName};
        #end
        #if("$!field.comment" != "")
            #if(${swagger2} && !${field.propertyName.equals("recStatus")}  &&!${field.propertyName.equals("updateTime")}  &&!${field.propertyName.equals("createTime")} &&!${field.propertyName.equals("modifyTime")}&&!${field.keyFlag})
                @ApiModelProperty(value = "${field.comment}")
                private ${field.propertyType} ${field.propertyName};
            #end
        #end
    #end
}

